body {
	font:normal normal 16px 'Open Sans',Calibri,Helvetica,sans-serif;
	color: #fff;
}

#main-wrap {
	position:absolute;
	top:0;
	left:0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #fff url(../images/s2048/day-clear-01.jpg) no-repeat center center;
	background-size: cover;
	z-index: 0;
	overflow: hidden;
}

	#overlay {
		position:absolute;
		top:0;
		left:0;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: .4;
		z-index: 1;
	}

	#content-wrap {
		position:absolute;
		top:0;
		left:0;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		overflow-y: auto;
	}

div.panel {
	position: absolute;
	z-index: 5;
	opacity: 1;
}

div.panel.hidden {
	opacity: 0;
	display: none;
}

div.panel.topleft {
	top: 50px;
	left: 100px;
}

div#weather-info, div#stocks {
	cursor: pointer;
}

div#weather-info p {
	margin: 0;
}

div#weather-info span#location {
	font-size: 1.25em;
	text-transform: lowercase;
	font-variant: small-caps;
	letter-spacing: 2px;
	font-family: 'Open Sans',Helvetica,Calibri,sans-serif;
}

div#weather-info span#temperature {
	font-size:5em;
	font-family: 'Oswald','Open Sans',sans-serif;
	font-weight: 300;
}

div#weather-info span#icon-wrapper {
	font-size: 4em;
	margin-left: 30px;
}

div#weather-info span#condition {
	font-size: 1.5em;
	text-transform: lowercase;
	font-variant: small-caps;
	letter-spacing: 2px;
	font-family: 'Open Sans',Helvetica,Calibri,sans-serif;
}

div.panel.bottomright {
	bottom: 75px;
	right: 10px;
}

	div#stocks div.stock {
		font: normal normal .85em 'Open Sans',Helvetica,Calibri,sans-serif;
		text-transform: uppercase;
		color: #ccc;
		margin-bottom: 8px;
	}

	div#stocks span.stock-symbol {
		margin-right: 10px;
		display: inline-block;
		width: 50px;
	}

	div#stocks span.stock-price {
		margin-right: 4px;
		display: inline-block;
		width: 60px;
	}

		div#stocks span.stock-change {
			display: inline-block;
			width: 50px;
		}

		div#stocks span.stock-change.positive {
			color: #0f0;
		}

		div#stocks span.stock-change.negative {
			color: #f00;
		}

div.panel.bottomcenter {
	bottom:75px;
	width: 60%;
	margin: 0 20%;
}

	@media screen and (max-width: 960px) {
		div.panel, div.panel.topleft,
		div.panel.bottomcenter, div.panel.bottomright {
			position: relative;
			top: 0;
			left: 0;
			width: auto;
			margin: 0;
			padding: 15px;
		}

		div.panel:last-child {
			margin-bottom: 2.5em;
		}
	}

	h3.category-title {
		font-size: 1.4em;
		text-transform: lowercase;
		font-variant: small-caps;
		font-family: 'Open Sans',Helvetica,Calibri,sans-serif;
		margin-bottom: .15em;
		margin-top: 1em;
	}

	div#news h3.category-title:first-child {
		margin-top: 0;
	}

	div#news a:link, div#news a:visited {
		color: #ccc;
	}

	div#news a:hover {
		color: #fff;
	}

	div#news a.article {
		display: block;
		text-decoration: none;
		font-size: 1.15em;
		text-transform: lowercase;
		font-variant: small-caps;
		font-family: 'Open Sans',Helvetica,Calibri,sans-serif;
		line-height: 1;
		margin-bottom: 8px;
	}

div#bottom-bar {
	z-index: 6;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: #222;
}

	div#bottom-bar ul {
		float: right;
		margin: 8px 2em 5px 0;
	}

	div#bottom-bar ul li {
		list-style: none;
		font-size: 2em;
		float: left;
	}

		div#bottom-bar ul li:not(:last-child) {
			margin-right: 40px;
		}

		div#bottom-bar li span {
			display: block;
		}

		div#bottom-bar li span {
			color: #bbb;
		}

		div#bottom-bar li span:hover {
			color: #fff;
			cursor: pointer;
		}
