---
---

@import "{{ site.theme }}";

#site-title a:link,
#site-title a:visited { color: #000; }

#site-description {
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 16px;
}
