---
---

@import "{{ site.theme }}";

/* Header */
#site-title {
	text-transform: uppercase;
	font: normal 300 1.75em 'Oswald',sans-serif;
}

#profile-picture {
	max-width: 70%;
}

@media screen and (max-width: 960px) {
	#profile-picture {
		display: none;
	}
}

#site-title a:link,
#site-title a:visited { color: #666; }

#site-title a:hover {
	font-weight: 300;
	color: #000;
}

#site-description {
	text-transform: uppercase;
	font-size: 1em;
}

#site-description a:link,
#site-description a:visited {
	color: #666;
}

#site-description a:hover {
	color: #069;
	font-weight: normal;
	text-decoration: none;
}

/* Content */
section header {
	width: auto;
	float: none;
	position: relative;
	margin-bottom: 1em;
}

h1.page-title {
	font-weight: normal;
	font-size: 2.5em;
	text-transform: lowercase;
}

h2 {
	font: normal 300 2em 'Oswald',sans-serif;
	text-transform: uppercase;
}

h3 {
	font: normal 300 1.5em 'Oswald',sans-serif;
	text-transform: uppercase;
	margin: 1em 0 5px;
}

a:hover {
	font-weight: normal;
	text-decoration: underline;
}

/* Posts */
div.post-preview:not(:last-child) {
	border-bottom: 1px solid #999;
	margin-bottom: 1em;
}

h2.post-title {
	margin-bottom: 5px;
}

p.post-meta {
	color: #aaa;
	margin-bottom: 0.5em;
	text-transform: lowercase;
}

/* Post List */
h3.post-title {
	margin-top: .5em;
	margin-bottom: 5px;
}

/* Instagram Gallery */
#instagram-gallery img {
	float: left;
	width: 33%;
}

/* Resume */
span.resume-employer {
	color: #069;
}

span.resume-job-title:before,
span.resume-location:before {
	content: "\2014\00a0"
}

p.resume-meta {
	font-family: 'Oswald',sans-serif;
	font-weight: 300;
	letter-spacing: 0.5px;
}

	span.resume-date {
		text-transform: uppercase;
	}

h4.resume-title {
	font: normal 300 1.5em 'Oswald',sans-serif;
	text-transform: lowercase;
	margin: 1em 0 5px;
}

	span.resume-location {
		text-transform: lowercase;
	}
