---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h2 class="post-title" itemprop="name headline">{{ page.title | escape }}</h2>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if post.categories.size > 0 %}
				•
				<span class="post-categories">
				{% for category in post.categories %}
							{{ category }}
					{% if forloop.last == false %} | {% endif %}
					{% endfor %}
				</span>
			{% endif %}
     </p>
  </header>

  <div class="post_content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
